a {
  color: var(--mediumgray);
}

nav {
  font-size: 1rem;
  padding: 20px;
  display: grid;
  grid-template-columns: 0.2fr 3fr;
}

button {
  border: none;
  background: none;
}

nav button {
  text-align: right;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 25px;
}

@media only screen and (max-width: 620px) {
  .nav {
    display: none;
  }
}

.nav.mobile {
  justify-content: flex-end;
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.nav-items_main {
  position: relative;
}

.nav-list_secondary {
  position: absolute;
  top: 2rem;
  background: var(--white);
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px var(--almostblack);
  display: none;
}

.arrow {
  padding-left: 0.4rem;
}

.nav-list_secondary.open {
  display: block;
}

.nav-item_secondary {
  padding: 0.3rem 0;
}
