a {
  color: var(--mediumgray);
  transition: all 0.2s ease-in;
}

a:hover {
  color: var(--almostblack);
}

nav {
  font-size: 1rem;
  padding: 20px;
  display: grid;
  grid-template-columns: 0.2fr 3fr;
  max-width: 1500px;
  margin-inline: auto;
}

button {
  border: none;
  background: none;
}

nav button {
  text-align: right;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 25px;
}

.nav-btn {
  padding-inline: 1rem;
}

.nav-btns .btn-register {
  border: 1px solid var(--mediumgray);
  padding: 0.4rem 1rem;
  border-radius: 10px;
}

.nav-btns .btn-register:hover {
  border: 1px solid var(--almostblack);
}

.nav-list_secondary {
  position: absolute;
  top: 2rem;
  background: var(--white);
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px var(--almostblack);
  display: none;
}

.nav-list_secondary.open {
  display: block;
}

@media only screen and (max-width: 620px) {
  .nav {
    display: none;
  }
}

.nav.mobile {
  align-items: left;
  justify-content: flex-start;
  display: flex;
  gap: 5px;
  padding-top: 4rem;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 65%;
  z-index: 2;
  background-color: var(--white);
}

.nav.mobile .nav-list {
  display: flex;
  flex-direction: column;
}

.hamburger-open {
  z-index: 100;
}

.nav-items_main {
  position: relative;
}

.nav.mobile .nav-btns {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.nav-btns .btn-register {
  text-align: center;
  padding-block: 0.8rem;
  width: 70%;
}

.arrow {
  padding-left: 0.4rem;
}

.nav-item_secondary {
  padding: 0.3rem 0;
}
