*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* ### Neutral */

  --almostwhite: hsl(0, 0%, 98%);
  --mediumgray: hsl(0, 0%, 41%);
  --almostblack: hsl(0, 0%, 8%);
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
